appdirs==1.4.4
astroid==2.6.5
backcall==0.2.0
certifi==2020.12.5
colorama==0.4.4
debugpy==1.3.0
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
ipykernel==6.0.2
ipython==7.25.0
ipython-genutils==0.2.0
isort==5.9.2
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
lazy-object-proxy==1.6.0
matplotlib-inline==0.1.2
mccabe==0.6.1
parso==0.8.1
pickleshare==0.7.5
pipenv==2020.11.15
prompt-toolkit==3.0.16
Pygments==2.8.0
pylint==2.9.5
python-dateutil==2.8.2
pywin32==301
pyzmq==22.1.0
rope==0.18.0
six==1.15.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
virtualenv==20.4.2
virtualenv-clone==0.5.4
wcwidth==0.2.5
wrapt==1.12.1
